<section class="products container">
  <div class="product">
    <div class="product_img"><img src="../../../../assets/motor_bike2.jpg" alt="product_image"></div>
    <h3 class="product_name">Quinoa Illuminating Eye Cream</h3>
    <span class="product_ingredient">Quinoa, Beetroot, Kakadu plum</span>
    <p class="product_price">$150</p>
  </div>
  <div class="product">
    <div class="product_img"><img src="../../../../assets/motor_bike.jpg" alt="product_image"></div>
    <h3 class="product_name">Quinoa Illuminating Eye Cream</h3>
    <span class="product_ingredient">Quinoa, Beetroot, Kakadu plum</span>
    <p class="product_price">$150</p>
  </div>
  <div class="product">
    <div class="product_img"><img src="../../../../assets/driving.jpg" alt="product_image"></div>
    <h3 class="product_name">Quinoa Illuminating Eye Cream</h3>
    <span class="product_ingredient">Quinoa, Beetroot, Kakadu plum</span>
    <p class="product_price">$150</p>
  </div>
</section>
