<section class="product">
  <div class="product_img">
    <img src="../../../../assets/motor_bike2.jpg" alt="product_image">
  </div>

  <div class="product_detail container">
    <div class="product_detail__description">
      <h3 class="name">Quinoa Illuminating Eye Cream</h3>
      <span class="ingredient">Quinoa, Beetroot, Kakadu plum</span>
      <p class="price">$150</p>
      <div class="cta">
        <div class="quantity">
          <button class="count">-</button> <span>4</span> <button class="count">+</button>
        </div>
        <button class="add" [routerLink]="['../../cart']" >Add to Cart</button>
      </div>
    </div>
    <div class="product_detail__info">
      <section>
        <h3>Product Overview</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, est esse? Alias tempora, cumque explicabo ipsam doloribus veniam ratione sapiente eos minus sint consequatur ducimus!</p>
      </section>
      <section>
        <h3>Advice for use</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, est esse? Alias tempora, cumque explicabo ipsam doloribus veniam ratione sapiente eos minus sint consequatur ducimus!</p>
      </section>
    </div>
  </div>
</section>
