// --------THIN
@font-face {
  font-family: "Freigeist";
  src: url(assets/font/Freigeist-ThinItalic.woff) format("truetype");
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: "Freigeist";
  src: url(assets/font/Freigeist-Thin.woff) format("truetype");
  font-style: normal;
  font-weight: 100;
}

// --------LIGHT
@font-face {
  font-family: "Freigeist";
  src: url(assets/font/Freigeist-LightItalic.woff) format("truetype");
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: "Freigeist";
  src: url(assets/font/Freigeist-Light.woff) format("truetype");
  font-style: normal;
  font-weight: 200;
}

// --------REGULAR
@font-face {
  font-family: "Freigeist";
  src: url(assets/font/Freigeist-RegularItalic.woff) format("truetype");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Freigeist";
  src: url(assets/font/Freigeist-Regular.woff) format("truetype");
  font-style: normal;
  font-weight: 300;
}

// --------MEDIUM
@font-face {
  font-family: "Freigeist";
  src: url(assets/font/Freigeist-MediumItalic.woff) format("truetype");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Freigeist";
  src: url(assets/font/Freigeist-Medium.woff) format("truetype");
  font-style: normal;
  font-weight: 500;
}

// --------BOLD
@font-face {
  font-family: "Freigeist";
  src: url(assets/font/Freigeist-BoldItalic.woff) format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Freigeist";
  src: url(assets/font/Freigeist-Bold.woff) format("truetype");
  font-style: normal;
  font-weight: 700;
}

// --------BLACK
@font-face {
  font-family: "Freigeist";
  src: url(assets/font/Freigeist-BlackItalic.woff) format("truetype");
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: "Freigeist";
  src: url(assets/font/Freigeist-Black.woff) format("truetype");
  font-style: normal;
  font-weight: 900;
}
