.shop {
  position: relative;
  overflow-x: hidden;
}

.nav {
  position: fixed;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);

  a {
    background-color: white;
    padding: 1rem .5rem;
    border-radius: 2rem;
  }

  &_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.closeCart {
  position: fixed;
  left: 40vw;
  top: 30px;
  transition: all 200ms ease-in-out;
}

app-cart-nav {
  position: fixed;
  left: 49vw;
  top: 0;
  width: 50vw;
  height: 100vh;
  transition: all 200ms ease-in-out;
}

.closeNav {
  left: 120vw;
}
